<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
hello world heelo
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Sample Category"
            id="First.commands.category">
      </category>
      <command
            name="Sample Action"
            categoryId="First.commands.category"
            id="First.commands.sampleCommand">
      </command>
      <command
            name="Sample Action1"
            categoryId="First.commands.category"
            id="First.commands.sampleCommand1">
      </command>
      <command
            name="Sample Action2"
            categoryId="First.commands.category"
            id="First.commands.sampleCommand2">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="First.commands.sampleCommand"
            class="first.handlers.AddHandler">
      </handler>
      <handler
            commandId="First.commands.sampleCommand1"
            class="first.handlers.ReuseHandler">
      </handler>
      <handler
            commandId="First.commands.sampleCommand2"
            class="first.handlers.DeleteHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="First.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+8"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="First.commands.sampleCommand1"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+7"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="First.commands.sampleCommand2"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Plugin"
               mnemonic="M"
               id="First.menus.sampleMenu">
            <command
            	  label = "Add"
                  commandId="First.commands.sampleCommand"
                  id="First.menus.sampleCommand">
            </command>
            <command
            	  label = "Reuse"
                  commandId="First.commands.sampleCommand1"
                  mnemonic="S"
                  id="First.menus.sampleCommand1">
            </command>
            <command
            	  label = "Delete"
                  commandId="First.commands.sampleCommand2"
                  id="First.menus.sampleCommand2">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="First.toolbars.sampleToolbar">
            <command
                  commandId="First.commands.sampleCommand"
                  icon="icons/sample.gif"
                  tooltip="Say hello world"
                  id="First.toolbars.sampleCommand">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
